<?xml version="1.0"?>
<!--
/**
 * Copyright © ICC. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="ICC_QuickConsultCredit::credit" title="Quick Consult Credit" translate="title" sortOrder="100">
                    <resource id="ICC_QuickConsultCredit::manage" title="Manage Credit (Add/Remove/Redeem)" translate="title" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
